:root
  --counter-primary-bg: #2FB675;
  --counter-primary-color: #fff;
  --counter-secondary-bg: #8366561F;
  --counter-secondary-color: #0b0c0c;

  --counter-border-dynamic: black;
  --counter-border-surface: yellow;
  --counter-border-base: #6c757d;
  --counter-border-secondary: #007bff;


  --button-primary-bg: #FF7700;
  --button-primary-color: #fff;
  --button-secondary-bg: #8366561F;
  --button-secondary-color: #0b0c0c;
